# Auto detect text files and perform LF normalization
* text=auto

# Asociar archivos .cs con C#
*.cs linguist-language=C#

# Asociar archivos .html con HTML
*.html linguist-language=HTML

# Asociar archivos .css con CSS
*.css linguist-language=CSS
